/* unicons.css - Unicode Icons */
[data-unicon] { display: inline-block; font-weight: normal; font-style: normal; font-family: "Apple Symbols", sans-serif; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* Arrows */
[data-unicon="upwards-arrow"]:before { content: '\2191'; }
[data-unicon="rightwards-arrow"]:before { content: '\2192'; }
[data-unicon="downwards-arrow"]:before { content: '\2193'; }
[data-unicon="leftwards-arrow"]:before { content: '\2190'; }
[data-unicon="upwards-white-arrow"]:before { content: '\21E7'; }
[data-unicon="rightwards-white-arrow"]:before { content: '\21E8'; }
[data-unicon="downwards-white-arrow"]:before { content: '\21E9'; }
[data-unicon="leftwards-white-arrow"]:before { content: '\21E6'; }
[data-unicon="upwards-black-arrow"]:before { content: '\2B06'; }
[data-unicon="rightwards-black-arrow"]:before { content: '\27A1'; }
[data-unicon="downwards-black-arrow"]:before { content: '\2B07'; }
[data-unicon="leftwards-black-arrow"]:before { content: '\2B05'; }
[data-unicon="white-up-pointing-index"]:before { content: '\261D'; }
[data-unicon="white-right-pointing-index"]:before { content: '\261E'; }
[data-unicon="white-down-pointing-index"]:before { content: '\261F'; }
[data-unicon="white-left-pointing-index"]:before { content: '\261C'; }
[data-unicon="black-right-pointing-index"]:before { content: '\261B'; }
[data-unicon="black-left-pointing-index"]:before { content: '\261A'; }
[data-unicon="heavy-round-tipped-rightwards-arrow"]:before { content: '\279C'; }
[data-unicon="heavy-wide-headed-rightwards-arrow"]:before { content: '\2794'; }
[data-unicon="drafting-point-rightwards-arrow"]:before { content: '\279B'; }
[data-unicon="heavy-black-feathered-rightwards-arrow"]:before { content: '\27B8'; }
[data-unicon="three-d-top-lighted-rightwards-arrow"]:before { content: '\27A2'; }
[data-unicon="three-d-bottom-lighted-rightwards-arrow"]:before { content: '\27A3'; }
[data-unicon="black-rightwards-arrowhead"]:before { content: '\27A4'; }
[data-unicon="heavy-lower-right-shadowed-white-rightwards-arrow"]:before { content: '\27AD'; }
[data-unicon="anticlockwise-gapped-circle-arrow"]:before { content: '\27F2'; }
[data-unicon="clockwise-gapped-circle-arrow"]:before { content: '\27F3'; }
[data-unicon="top-arc-anticlockwise-arrow"]:before { content: '\293A'; }
[data-unicon="bottom-arc-anticlockwise-arrow"]:before { content: '\293B'; }

/* Letterlike Symbols */
[data-unicon="copyright-sign"]:before { content: '\00A9'; }
[data-unicon="sound-recording-copyright"]:before { content: '\2117'; }
[data-unicon="registered-sign"]:before { content: '\00AE'; }
[data-unicon="service-mark"]:before { content: '\2120'; }
[data-unicon="trade-mark-sign"]:before { content: '\2122'; }
[data-unicon="telephone-sign"]:before { content: '\2121'; }
[data-unicon="facsimile-sign"]:before { content: '\213B'; }
[data-unicon="numero-sign"]:before { content: '\2116'; }
[data-unicon="degree-celsius"]:before { content: '\2103'; }
[data-unicon="degree-fahrenheit"]:before { content: '\2109'; }
[data-unicon="prescription-take"]:before { content: '\211E'; }
[data-unicon="square-kb"]:before { content: '\3385'; }
[data-unicon="square-mb"]:before { content: '\3386'; }
[data-unicon="square-gb"]:before { content: '\3387'; }
[data-unicon="square-cal"]:before { content: '\3388'; }
[data-unicon="square-kcal"]:before { content: '\3389'; }
[data-unicon="square-mu-g"]:before { content: '\338D'; }
[data-unicon="square-mg"]:before { content: '\338E'; }
[data-unicon="latin-small-leter-g"]:before { content: '\0067'; }
[data-unicon="square-kg"]:before { content: '\338F'; }
[data-unicon="square-hz"]:before { content: '\3390'; }
[data-unicon="square-khz"]:before { content: '\3391'; }
[data-unicon="square-mhz"]:before { content: '\3392'; }
[data-unicon="square-ghz"]:before { content: '\3393'; }
[data-unicon="square-thz"]:before { content: '\3394'; }
[data-unicon="square-mu-l"]:before { content: '\3395'; }
[data-unicon="script-small-l"]:before { content: '\2113'; }
[data-unicon="square-ml"]:before { content: '\3396'; }
[data-unicon="square-dl"]:before { content: '\3397'; }
[data-unicon="square-kl"]:before { content: '\3398'; }
[data-unicon="square-fm"]:before { content: '\3399'; }
[data-unicon="square-nm"]:before { content: '\339A'; }
[data-unicon="square-mu-m"]:before { content: '\339B'; }
[data-unicon="square-mm"]:before { content: '\339C'; }
[data-unicon="square-cm"]:before { content: '\339D'; }
[data-unicon="square-km"]:before { content: '\339E'; }
[data-unicon="square-mm-squared"]:before { content: '\339F'; }
[data-unicon="square-cm-squared"]:before { content: '\33A0'; }
[data-unicon="square-m-squared"]:before { content: '\33A1'; }
[data-unicon="square-km-squared"]:before { content: '\33A2'; }
[data-unicon="square-mm-cubed"]:before { content: '\33A3'; }
[data-unicon="square-cm-cubed"]:before { content: '\33A4'; }
[data-unicon="square-m-cubed"]:before { content: '\33A5'; }
[data-unicon="square-km-cubed"]:before { content: '\33A6'; }
[data-unicon="square-m-over-s"]:before { content: '\33A7'; }
[data-unicon="square-ps"]:before { content: '\33B0'; }
[data-unicon="square-ns"]:before { content: '\33B1'; }
[data-unicon="square-mu-s"]:before { content: '\33B2'; }
[data-unicon="square-ms"]:before { content: '\33B3'; }
[data-unicon="square-am"]:before { content: '\33C2'; }
[data-unicon="square-pm"]:before { content: '\33D8'; }
[data-unicon="square-ph"]:before { content: '\33D7'; }

/* Math Symbols & Numerals */
[data-unicon="plus-sign"]:before { content: '\002B'; }
[data-unicon="minus-sign"]:before { content: '\2212'; }
[data-unicon="multiplication-sign"]:before { content: '\00D7'; }
[data-unicon="division-sign"]:before { content: '\00F7'; }
[data-unicon="equals-sign"]:before { content: '\003D'; }
[data-unicon="plus-minus-sign"]:before { content: '\00B1'; }
[data-unicon="minus-or-plus-sign"]:before { content: '\2213'; }
[data-unicon="infinity"]:before { content: '\221E'; }
[data-unicon="square-root"]:before { content: '\221A'; }
[data-unicon="integral"]:before { content: '\222B'; }
[data-unicon="double-integral"]:before { content: '\222C'; }
[data-unicon="triple-integral"]:before { content: '\222D'; }
[data-unicon="therefore"]:before { content: '\2234'; }
[data-unicon="because"]:before { content: '\2235'; }
[data-unicon="ratio"]:before { content: '\2236'; }
[data-unicon="proportion"]:before { content: '\2237'; }
[data-unicon="almost-equal-to"]:before { content: '\2248'; }
[data-unicon="not-almost-equal-to"]:before { content: '\2249'; }
[data-unicon="not-equal-to"]:before { content: '\2260'; }
[data-unicon="two-consecutive-equals-signs"]:before { content: '\2A75'; }
[data-unicon="three-consecutive-equals-signs"]:before { content: '\2A76'; }
[data-unicon="vulgar-fraction-one-half"]:before { content: '\00BD'; }
[data-unicon="vulgar-fraction-one-third"]:before { content: '\2153'; }
[data-unicon="vulgar-fraction-two-thirds"]:before { content: '\2154'; }
[data-unicon="vulgar-fraction-one-quarter"]:before { content: '\00BC'; }
[data-unicon="vulgar-fraction-three-quarters"]:before { content: '\00BE'; }
[data-unicon="vulgar-fraction-one-fifth"]:before { content: '\2155'; }
[data-unicon="vulgar-fraction-two-fifths"]:before { content: '\2156'; }
[data-unicon="vulgar-fraction-three-fifths"]:before { content: '\2157'; }
[data-unicon="vulgar-fraction-four-fifths"]:before { content: '\2158'; }
[data-unicon="vulgar-fraction-one-sixth"]:before { content: '\2159'; }
[data-unicon="vulgar-fraction-five-sixths"]:before { content: '\215A'; }
[data-unicon="vulgar-fraction-one-eighth"]:before { content: '\215B'; }
[data-unicon="vulgar-fraction-three-eighths"]:before { content: '\215C'; }
[data-unicon="vulgar-fraction-five-eighths"]:before { content: '\215D'; }
[data-unicon="vulgar-fraction-seven-eighths"]:before { content: '\215E'; }
[data-unicon="roman-numeral-one"]:before { content: '\2160'; }
[data-unicon="roman-numeral-two"]:before { content: '\2161'; }
[data-unicon="roman-numeral-three"]:before { content: '\2162'; }
[data-unicon="roman-numeral-four"]:before { content: '\2163'; }
[data-unicon="roman-numeral-five"]:before { content: '\2164'; }
[data-unicon="roman-numeral-six"]:before { content: '\2165'; }
[data-unicon="roman-numeral-seven"]:before { content: '\2166'; }
[data-unicon="roman-numeral-eight"]:before { content: '\2167'; }
[data-unicon="roman-numeral-nine"]:before { content: '\2168'; }
[data-unicon="roman-numeral-ten"]:before { content: '\2169'; }
[data-unicon="roman-numeral-eleven"]:before { content: '\216A'; }
[data-unicon="roman-numeral-twelve"]:before { content: '\216B'; }
[data-unicon="small-roman-numeral-one"]:before { content: '\2170'; }
[data-unicon="small-roman-numeral-two"]:before { content: '\2171'; }
[data-unicon="small-roman-numeral-three"]:before { content: '\2172'; }
[data-unicon="small-roman-numeral-four"]:before { content: '\2173'; }
[data-unicon="small-roman-numeral-five"]:before { content: '\2174'; }
[data-unicon="small-roman-numeral-six"]:before { content: '\2175'; }
[data-unicon="small-roman-numeral-seven"]:before { content: '\2176'; }
[data-unicon="small-roman-numeral-eight"]:before { content: '\2177'; }
[data-unicon="small-roman-numeral-nine"]:before { content: '\2178'; }
[data-unicon="small-roman-numeral-ten"]:before { content: '\2179'; }
[data-unicon="small-roman-numeral-eleven"]:before { content: '\217A'; }
[data-unicon="small-roman-numeral-twelve"]:before { content: '\217B'; }
[data-unicon="roman-numeral-fifty"]:before { content: '\216C'; }
[data-unicon="roman-numeral-one-hundred"]:before { content: '\216D'; }
[data-unicon="roman-numeral-five-hundred"]:before { content: '\216E'; }
[data-unicon="roman-numeral-one-thousand"]:before { content: '\216F'; }
[data-unicon="small-roman-numeral-fifty"]:before { content: '\217C'; }
[data-unicon="small-roman-numeral-one-hundred"]:before { content: '\217D'; }
[data-unicon="small-roman-numeral-five-hundred"]:before { content: '\217E'; }
[data-unicon="small-roman-numeral-one-thousand"]:before { content: '\217F'; }
[data-unicon="roman-numeral-one-thousand-c-d"]:before { content: '\2180'; }
[data-unicon="roman-numeral-five-thousand"]:before { content: '\2181'; }
[data-unicon="roman-numeral-ten-thousand"]:before { content: '\2182'; }
[data-unicon="roman-numeral-reversed-one-hundred"]:before { content: '\2183'; }
[data-unicon="latin-small-letter-reversed-c"]:before { content: '\2184'; }
[data-unicon="roman-numeral-six-late-form"]:before { content: '\2185'; }
[data-unicon="roman-numeral-fifty-early-form"]:before { content: '\2186'; }
[data-unicon="old-italic-numeral-one"]:before { content: '\10320'; }
[data-unicon="old-italic-numeral-five"]:before { content: '\10321'; }
[data-unicon="old-italic-numeral-ten"]:before { content: '\10322'; }
[data-unicon="old-italic-numeral-fifty"]:before { content: '\10323'; }

/* Currency Symbols */
[data-unicon="dollar-sign"]:before { content: '\0024'; }
[data-unicon="euro-sign"]:before { content: '\20AC'; }
[data-unicon="yen-sign"]:before { content: '\00A5'; }
[data-unicon="cent-sign"]:before { content: '\00A2'; }
[data-unicon="pound-sign"]:before { content: '\00A3'; }
[data-unicon="rupee-sign"]:before { content: '\20A8'; }
[data-unicon="bengali-rupee-mark"]:before { content: '\09F2'; }
[data-unicon="bengali-rupee-sign"]:before { content: '\09F3'; }
[data-unicon="gujarati-rupee-sign"]:before { content: '\0AF1'; }
[data-unicon="tamil-rupee-sign"]:before { content: '\0BF9'; }
[data-unicon="rial-sign"]:before { content: '\FDFC'; }
[data-unicon="indian-rupee-sign"]:before { content: '\20B9'; }
[data-unicon="won-sign"]:before { content: '\20A9'; }
[data-unicon="thai-currency-symbol-baht"]:before { content: '\0E3F'; }
[data-unicon="tugrik-sign"]:before { content: '\20AE'; }
[data-unicon="peso-sign"]:before { content: '\20B1'; }
[data-unicon="khmer-currency-symbol-riel"]:before { content: '\17DB'; }
[data-unicon="kip-sign"]:before { content: '\20AD'; }
[data-unicon="naira-sign"]:before { content: '\20A6'; }
[data-unicon="hryvnia-sign"]:before { content: '\20B4'; }
[data-unicon="guarani-sign"]:before { content: '\20B2'; }
[data-unicon="new-sheqel-sign"]:before { content: '\20AA'; }
[data-unicon="colon-sign"]:before { content: '\20A1'; }
[data-unicon="dong-sign"]:before { content: '\20AB'; }
[data-unicon="cedi-sign"]:before { content: '\20B5'; }
[data-unicon="french-franc-sign"]:before { content: '\20A3'; }
[data-unicon="lira-sign"]:before { content: '\20A4'; }
[data-unicon="peseta-sign"]:before { content: '\20A7'; }
[data-unicon="script-capital-m"]:before { content: '\2133'; }
[data-unicon="euro-currency-sign"]:before { content: '\20A0'; }
[data-unicon="cruzeiro-sign"]:before { content: '\20A2'; }
[data-unicon="austral-sign"]:before { content: '\20B3'; }
[data-unicon="drachma-sign"]:before { content: '\20AF'; }
[data-unicon="mill-sign"]:before { content: '\20A5'; }
[data-unicon="german-penny-sign"]:before { content: '\20B0'; }
[data-unicon="spesmilo-sign"]:before { content: '\20B7'; }

/* Pictographs */
[data-unicon="writing-hand"]:before { content: '\270D'; }
[data-unicon="lower-right-pencil"]:before { content: '\270E'; }
[data-unicon="pencil"]:before { content: '\270F'; }
[data-unicon="upper-blade-scissors"]:before { content: '\2701'; }
[data-unicon="black-scissors"]:before { content: '\2702'; }
[data-unicon="lower-blade-scissors"]:before { content: '\2703'; }
[data-unicon="white-scissors"]:before { content: '\2704'; }
[data-unicon="chi-rho"]:before { content: '\2627'; }
[data-unicon="black-flag"]:before { content: '\2691'; }
[data-unicon="white-flag"]:before { content: '\2690'; }
[data-unicon="peace-symbol"]:before { content: '\262E'; }
[data-unicon="caduceus"]:before { content: '\2624'; }
[data-unicon="staff-of-aesculapius"]:before { content: '\2695'; }
[data-unicon="latin-cross"]:before { content: '\271D'; }
[data-unicon="shadowed-white-latin-cross"]:before { content: '\271E'; }
[data-unicon="outlined-latin-cross"]:before { content: '\271F'; }
[data-unicon="fleur-de-lis"]:before { content: '\269C'; }
[data-unicon="star-and-crescent"]:before { content: '\262A'; }
[data-unicon="hammer-and-sickle"]:before { content: '\262D'; }
[data-unicon="atom-symbol"]:before { content: '\269B'; }
[data-unicon="scales"]:before { content: '\2696'; }
[data-unicon="yin-yang"]:before { content: '\262F'; }
[data-unicon="wheel-of-dharma"]:before { content: '\2638'; }
[data-unicon="airplane"]:before { content: '\2708'; }
[data-unicon="anchor"]:before { content: '\2693'; }

/* Game Icons */
[data-unicon="die-face-1"]:before { content: '\2680'; }
[data-unicon="die-face-2"]:before { content: '\2681'; }
[data-unicon="die-face-3"]:before { content: '\2682'; }
[data-unicon="die-face-4"]:before { content: '\2683'; }
[data-unicon="die-face-5"]:before { content: '\2684'; }
[data-unicon="die-face-6"]:before { content: '\2685'; }
[data-unicon="baseball"]:before { content: '\26BE'; }
[data-unicon="soccer-ball"]:before { content: '\26BD'; }
[data-unicon="black-spade-suit"]:before { content: '\2660'; }
[data-unicon="black-club-suit"]:before { content: '\2663'; }
[data-unicon="black-heart-suit"]:before { content: '\2665'; }
[data-unicon="black-diamond-suit"]:before { content: '\2666'; }
[data-unicon="white-spade-suit"]:before { content: '\2664'; }
[data-unicon="white-club-suit"]:before { content: '\2667'; }
[data-unicon="white-heart-suit"]:before { content: '\2661'; }
[data-unicon="white-diamond-suit"]:before { content: '\2662'; }
[data-unicon="black-chess-king"]:before { content: '\265A'; }
[data-unicon="black-chess-queen"]:before { content: '\265B'; }
[data-unicon="black-chess-rook"]:before { content: '\265C'; }
[data-unicon="black-chess-bishop"]:before { content: '\265D'; }
[data-unicon="black-chess-knight"]:before { content: '\265E'; }
[data-unicon="black-chess-pawn"]:before { content: '\265F'; }
[data-unicon="white-chess-king"]:before { content: '\2654'; }
[data-unicon="white-chess-queen"]:before { content: '\2655'; }
[data-unicon="white-chess-rook"]:before { content: '\2656'; }
[data-unicon="white-chess-bishop"]:before { content: '\2657'; }
[data-unicon="white-chess-knight"]:before { content: '\2658'; }
[data-unicon="white-chess-pawn"]:before { content: '\2659'; }

/*  Bullets & Stars */
[data-unicon="bullet-operator"]:before { content: '\2219'; }
[data-unicon="bullet"]:before { content: '\2022'; }
[data-unicon="white-bullet"]:before { content: '\25E6'; }
[data-unicon="black-circle"]:before { content: '\25CF'; }
[data-unicon="white-circle"]:before { content: '\25CB'; }
[data-unicon="black-diamond"]:before { content: '\25C6'; }
[data-unicon="white-medium-square"]:before { content: '\25FB'; }
[data-unicon="black-medium-square"]:before { content: '\25FC'; }
[data-unicon="black-diamond"]:before { content: '\25C6'; }
[data-unicon="white-diamond"]:before { content: '\25C7'; }
[data-unicon="black-right-pointing-triangle"]:before { content: '\25B6'; }
[data-unicon="white-right-pointing-triangle"]:before { content: '\25B7'; }
[data-unicon="black-right-pointing-small-triangle"]:before { content: '\25B8'; }
[data-unicon="white-right-pointing-small-triangle"]:before { content: '\25B9'; }
[data-unicon="reversed-rotated-floral-heart-bullet"]:before { content: '\2619'; }
[data-unicon="rotated-floral-heart-bullet"]:before { content: '\2767'; }
[data-unicon="rotated-heavy-black-heart-bullet"]:before { content: '\2765'; }
[data-unicon="ballot-box-with-check"]:before { content: '\2611'; }
[data-unicon="ballot-box-with-x"]:before { content: '\2612'; }
[data-unicon="check-mark"]:before { content: '\2713'; }
[data-unicon="ballot-x"]:before { content: '\2717'; }
[data-unicon="heavy-check-mark"]:before { content: '\2714'; }
[data-unicon="heavy-ballot-x"]:before { content: '\2718'; }
[data-unicon="shadowed-white-star"]:before { content: '\2730'; }
[data-unicon="black-four-pointed-star"]:before { content: '\2726'; }
[data-unicon="white-four-pointed-star"]:before { content: '\2727'; }
[data-unicon="black-star"]:before { content: '\2605'; }
[data-unicon="white-star"]:before { content: '\2606'; }
[data-unicon="pinwheel-star"]:before { content: '\272F'; }
[data-unicon="star-of-david"]:before { content: '\2721'; }
[data-unicon="circled-white-star"]:before { content: '\272A'; }
[data-unicon="heavy-outlined-black-star"]:before { content: '\272E'; }
[data-unicon="six-pointed-black-star"]:before { content: '\2736'; }
[data-unicon="heavy-teardrop-spoked-asterisk"]:before { content: '\273D'; }
[data-unicon="balloon-spoked-asterisk"]:before { content: '\2749'; }
[data-unicon="heavy-asterisk"]:before { content: '\2731'; }
[data-unicon="eight-spoked-asterisk"]:before { content: '\2733'; }
[data-unicon="heavy-chevron-snowflake"]:before { content: '\2746'; }
[data-unicon="snowflake"]:before { content: '\2744'; }
[data-unicon="black-florette"]:before { content: '\273F'; }
[data-unicon="white-florette"]:before { content: '\2740'; }

/* Punctuation */
[data-unicon="inverted-exclamation-mark"]:before { content: '\00A1'; }
[data-unicon="inverted-question-mark"]:before { content: '\00BF'; }
[data-unicon="inverted-interrobang"]:before { content: '\2E18'; }
[data-unicon="interrobang"]:before { content: '\203D'; }
[data-unicon="left-double-quotation-mark"]:before { content: '\201C'; }
[data-unicon="right-double-quotation-mark"]:before { content: '\201D'; }
[data-unicon="left-single-quotation-mark"]:before { content: '\2018'; }
[data-unicon="right-single-quotation-mark"]:before { content: '\2019'; }
[data-unicon="degree-sign"]:before { content: '\00B0'; }
[data-unicon="horizontal-ellipsis"]:before { content: '\2026'; }
[data-unicon="ampersand"]:before { content: '\0026'; }
[data-unicon="asterism"]:before { content: '\2042'; }

/* Signs & Symbols */
[data-unicon="telephone-location-sign"]:before { content: '\2706'; }
[data-unicon="black-telephone"]:before { content: '\260E'; }
[data-unicon="white-telephone"]:before { content: '\260F'; }
[data-unicon="envelope"]:before { content: '\2709'; }
[data-unicon="radioactive-sign"]:before { content: '\2622'; }
[data-unicon="biohazard-sign"]:before { content: '\2623'; }
[data-unicon="warning-sign"]:before { content: '\26A0'; }
[data-unicon="high-voltage-sign"]:before { content: '\26A1'; }
[data-unicon="skull-and-crossbones"]:before { content: '\2620'; }
[data-unicon="wheelchair-symbol"]:before { content: '\267F'; }
[data-unicon="universal-recycling-symbol"]:before { content: '\2672'; }
[data-unicon="black-universal-recycling-symbol"]:before { content: '\267B'; }
[data-unicon="recycled-paper-symbol"]:before { content: '\267C'; }
[data-unicon="partially-recycled-paper-symbol"]:before { content: '\267D'; }

/* Technical Symbols */
[data-unicon="place-of-interest-sign"]:before { content: '\2318'; }
[data-unicon="broken-circle-with-northwest-arrow"]:before { content: '\238B'; }
[data-unicon="return-symbol"]:before { content: '\23CE'; }
[data-unicon="eject-symbol"]:before { content: '\23CF'; }
[data-unicon="option-key"]:before { content: '\2325'; }
[data-unicon="erase-to-the-right"]:before { content: '\2326'; }
[data-unicon="erase-to-the-left"]:before { content: '\232B'; }
[data-unicon="keyboard"]:before { content: '\2328'; }
[data-unicon="watch"]:before { content: '\231A'; }
[data-unicon="hourglass"]:before { content: '\231B'; }
[data-unicon="previous-page"]:before { content: '\2397'; }
[data-unicon="next-page"]:before { content: '\2398'; }
[data-unicon="clear-screen-symbol"]:before { content: '\239A'; }
